{# Utilisation du squelette de page base.html.twig #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Accueil{% endblock %}

{# Inclusion CSS individuel de la page #}
{% block stylesheets %}{% endblock %}

{# Contenu de la page d'accueil #}
{% block body %}

    {% if app.user %}
    <button class="btn btn-danger m-2"><a href="{{path ('app_logout')}}">Deconnexion</a></button>
    {% else %}

    <button class="btn btn-success m-2"><a href="{{path('app_login')}}">Connexion</a></button>
    <button class="btn btn-primary m-2"><a href="{{path('register')}}">Inscription</a></button>

    {% endif %}




    {% if is_granted('ROLE_ADMIN') %}
    <button class="btn btn-primary m-2"><a href="{{path ('newsactualites')}}">Créer une news</a></button>
    {% endif %}

    <div class="container-fluid">

        <div class="row">

            
                {# Affichage des derniers parutions #}

                    {% if ArticleList is empty %}

                            <p class="col-12 text-center alert alert-warning my-4">Aucun article à afficher.</p>

                    {% else %}

                    {% for articles in ArticleList %}
                    <div class="col-10 offset-1 d-flex mb-2">


                        <div class="col-12 text-center m-3">

                            {% if articles.startPublication().format('U') < "now"|date('U') and "now"|date('U') < articles.endPublication().format('U')%}

                            <div class="col-10 offset-1 text-center">
                                <img class="" src="{{ asset('images/articles/' ~ articles.image) | imagine_filter('news') }}" alt="">
                            </div>

                            <div class="col-10 offset-1  text-center">
                                <p class="">{{ articles.contentShort}}</p>

                                <a class="btn btn-success m-1" href="{{path('actualite', {slug: articles.slug}) }}">Voir plus</a>

                                {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-warning m-1" href="{{path('edit', {id: articles.id}) }}">Modifier</a>
                                <a class="btn btn-danger m-1" href="{{path('delete', {id: articles.id}) }}">Supprimer</a>
                                {% endif %}


                            </div>

                            {% else %}
                            {% endif %}

                        </div>

                        
                    </div>
                    {% endfor %}

                    {% endif %}





            

        </div>

    </div>

{% endblock %}
